



#body {
	background-color:#000;
	line-height:1.4em;
}

#header {
	height:50px;
}

.travel {
	position: absolute;
	display:inline-block;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}
.travel.disabled {
	opacity:0.4;
}
.travel.menu {
	left:40px;
}
.travel.right {
	right:0px;
	padding-right:10px;
}
.travel a {
	background-color: rgba(255,255,255,0.15);
	border-radius: 50%;
	width:30px;
	height:30px;
	display:block;
}
.travel a:hover {
	background-color: rgba(255,255,255,0.25);
}
.travel a i {
	margin-left: 8px;
    margin-top: 6px;
}

/* navigation */
#project_navigation {
	background-color:rgba(50,50,50,0.7);

	opacity:0;
	height:0px;

	overflow:hidden;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	transition: 0.5s linear;

}
#project_navigation.open {
	opacity:1;
	display:block;
	height:auto;
	padding:15px 0 20px;
}

#project_navigation ul {
	list-style: none outside;
	margin:0;
	padding:0;
	padding-left:57px;
}
#project_navigation ul li {
	padding-bottom:3px;
}
#project_navigation ul a {
	color:rgba(255,255,255,0.85);
}
#project_navigation ul li.is_section a {
	color:rgba(255,255,255,1);
}
#project_navigation li i {
	visibility: hidden;
}
#project_navigation li.active i {
	visibility: visible;
}
#project_navigation li.is_section {
	font-size:1.2em;
	font-weight:bold;
	padding-top: 10px;
}

h1 {
    z-index: 100;
    left: 92px;
    top:10px;
    position: absolute;
	color: #FFFFFF;
	font-weight:normal;
	text-shadow: #666 0.05em 0.05em 0.05em;
	font-size: 1.8em;
	line-height: 1em;
	display: inline-block;

}
#page_title {
	padding-left:20px;
	padding-top:25px;
	padding-bottom:20px;
}
#page_title h2 {
	font-size: 2em;
	padding:0;
	margin:0;
}
#page_title small {
	color:#aaa;
}
#page_wrapper {
	padding-bottom: 30px;
	background-image:url(images/noise-body.png);
	background-color:#FFF;
}
#page_wrapper_inner {
	position:relative;
}


/* text */
.text_box, .carousel_caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    color: #fff;
    min-height: 30px;
    left: 3%;
    top: 5%;
    position: absolute;
    width: 50%;
}

@media (max-width: 979px) and (min-width: 768px) {
    html .text_box {
    }
}
@media (max-width: 979px) {
    .text_box {
        left:5%;
	    width: 80%;
    }
}
@media (max-width: 480px) {
    .text_box {
    	border-radius:0;
        left: 0px;
        bottom:0px;
        width:auto;
        margin:0px;
        top:auto;
        position:relative;
    }
}

.text_content {
    padding: 14px 24px 6px 24px;
}

/* questionnaire styles */
.answer {
    width:200px;
    margin-right:20px;
    margin-bottom:12px;
	background-color: rgba(0, 0, 0, 0.6);
	color:#fff;
	cursor: pointer;
	padding:8px 8px 3px 5px;
}

.answer .input {
	background-position: -306px 2px;

    display: block;
    float: left;
    height: 15px;
    width: 25px;

	background-image:url(images/glyphicons-halflings-white.png);
}
.answer.selected .input {
	background-position: -283px 2px;
}
.answer .input input {
	position: absolute;
	left:-5000px;
}
label {
    display: block;
    float: left;
    font-size: 1.2em;
}

.answer.selected {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

a.save_button {
	border-radius:15px;
	text-decoration: none;
    margin-right:20px;
    margin-bottom:12px;
    background-color: rgba(125, 15, 74, 1);
    color:#fff;
	cursor: pointer;
	padding:8px 9px 8px 12px;
	font-weight:bold;
}
a.save_button span, a.save_button i {
	float:left;
}


/* hotspots */

#hotspots {
    position:relative;
}
.hotspot {
    position:absolute;
    right:70px;
    top:150px;
    width:140px;
    height:140px;
    background-color:rgba(255,255,255,0.3);
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

/* modals */
.modal {
	border-radius: 0px;
	color:#000;
	border:0 none;
	box-shadow: none;
}
.popup_image {
	width:200px;
	height: 200px;
	float:left;
	margin-right:10px;
}
.popup_text {
	float:left;    
	width: 300px;
}
.modal-body {
	padding: 5px 15px 15px;
}
.modal-footer {
	display: none;
}
.modal-header {
	border:0 none;
	padding: 9px 15px 4px;
}


/* resources */

span.resource_info {
	color:#AAA;
	font-style:italic;
	font-size:0.9em;
}

i.icon-pdf, i.icon-doc, i.icon-ppt, i.icon-xls {
    background-image: url("images/icons.png");
    background-position: 0 0;
    height: 16px;
    width: 16px;
}
html i.icon-doc {
	background-position: -20px 0;
}
html i.icon-xls {
	background-position: -40px 0;
}
html i.icon-ppt {
	background-position: -60px 0;
}

@media (max-width: 767px) { 
	/*body:before { content: "Rule: max-width: 767px; "; }*/
	h1 {
		font-size: 1.5em;
    	top:12px;
	}
	#page_title {
	    padding-top: 20px;
	}
	#page_title h2 {
		font-size: 1.6em;
	}
}

@media (max-width: 480px) { 
	/*body:before { content: "Rule: max-width: 767px; "; }*/
	h1 {
		font-size: 1.2em;
    	top:15px;
	}
	#page_title h2 {
		font-size: 1.4em;
	}
}
