
#background {
	position:relative;
}

#overlay_1 {
    top:17%;
    left:15%;
}

#overlay_2 {
    top:65%;
    left:10%;
}

#image {
	width:auto;
	height:600px;
	height:500px;
    position: relative;
}
@media (max-width: 979px) and (min-width: 768px) {
    html .text_box {
        max-width:500px;
    }
}
@media (max-width: 480px) {
    html .text_box {
        left: 0px;
        bottom:0px;
        width:auto;
        margin-bottom:20px;
        top:auto;
        position:relative;
    }
    html #image {
        padding-top:120px;
        padding-bottom: 20px;
    }
    html #image {
        border-radius:0;
    }
}