

#text_wrapper {
	padding:0 30px 10px 20px;
}

#accordion {
}

#text_content {
    padding-bottom:10px;
    padding-top:0px;
}


.accordion-group {
	margin-bottom:10px;
	border:0 none;
	border-radius:0;
}

.accordion-heading {
}

a.accordion-toggle {
	font-weight:bold;
	font-size:1.2em;
	text-decoration: none;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

a.accordion-toggle.collapsed {
}
.accordion-inner {
	margin-top:1px;
	border-top:0 none;
	background-color: rgba(0, 0, 0, 0.05);
    *zoom: 1;
    padding: 12px 15px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.accordion-inner:before,
.accordion-inner:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.accordion-inner:after {
    clear: both;
}

.image {
	float:left;
	width:250px;
	height:250px;
	margin-right:20px;
	margin-bottom:20px;
}

.image + .text_content {
	float:left;
	width: 475px;
}

@media (max-width: 979px) { 
    html .image + .text_content {   
    	width: 290px;
    }
}

@media (max-width: 768px) {
    html .accordion-group {
        border-radius: 0;
        border:0;
    }

	html #text_content {
		padding:0px 20px 5px 20px;
	}
	html .accordion {
    	padding-bottom: 10px;
	}
	html .accordion-inner {
    	padding-bottom: 10px;   
    	padding-left:20px; 
    	overflow: hidden;
	}

	html #text_wrapper {
		padding-left:0;
		padding-right:0;
	}
	.accordion-heading .accordion-toggle {
    	padding: 8px 20px;
	}
	html .accordian_text, 
	html .image + .accordian_text {
    	padding-right: 30px;
    	width: auto;
    	float:none;
    	clear:both;
	}
}

button#add_option_button {
	left: 20px;
    position: relative;
    top: 5px;
}