
#hotspot_image {
    width:100%;
    height:500px;
    position: relative;
}


#hotspot1 {
    left:10%;
    top:40%;
}

#hotspot2 {
    left:40%;
    top:50%;
}



@media (max-width: 768px) {
    #hotspot2 {
        left:45%;
        top:55%;
    }
}
@media (max-width: 480px) {
    #hotspot2 {
        left:45%;
        top:65%;
    }
}