
#hotspot_image {
    height:450px;
    width:300px;     
    position: relative;
    float:left;
}
.text_content {
    padding-top: 0;
}
.text_wrapper {
    float:left;
    width:450px;
}
@media (min-width: 767px) and (max-width: 968px) {
    .text_wrapper {
        width:300px;
    }
}
@media (max-width: 767px) {
    html #hotspot_image {
        width: 80%;
    }
    html .text_wrapper {
        width: 70%;
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    html #hotspot_image {
        width: 100%;
    }
    html .text_wrapper {
        width: 100%;
    }
}


#hotspot1 {    
    left: 10%;
    top: 20%;
}

#hotspot2 {
    left: 20%;
    top: 60%;
}

